<html>
    <head>
<link rel="stylesheet" href="/stylesheets/style.css">
    </head>
<body>
<div id="index">
<div id="main">
<h1> WELCOME TO {{heading}}</h1> 
</div><div class="logReg">
<a href="/register"><button>REGISTER</button></a>
<a href="/login"><button> lOGIN  </button></a>
</div>
</div>
</body>
</html>