
body{
  background-image: url(../images/libraryphoto-3.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   height: 200vh;
  
}
#main {
  height: 5cm;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}
.logReg{
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 25%;
  margin-left: 38%;
  margin-top: 5%;
}
button{
  width: 150px;
  border-radius: 10%;
  height: 35px;
  background-color: black;
  color: gold;
}
